"use strict";

module.exports = {
	desc: "Description",
	longDesc: "You can really elaborate here!\nFeel free to use linebreaks too.",
	usage: "args[, args, args]",
	aliases: ['alias', 'another alias'],
	adminOnly: false,
	options: [{
		name: "gen",
		value: discordConfig.defaultGen,
		desc: "The generation to run the command with."
	}],
	elevated: false,
	disabled: false,
	hasCustomFormatting: false,
	isNSFW: false,
	async process(message, args, dex) {
		// code goes here
		return message.channel.send("hello world!");
	},
};
