{
  "root": true,
  "extends": "@pkmn",
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2021
  },
  "rules": {
    "quotes": ["error", "double", { "allowTemplateLiterals": true }],
    "strict": ["error", "global"],
    "prefer-template": "error",

    "@typescript-eslint/quotes": ["error", "double", { "allowTemplateLiterals": true }],
    "@typescript-eslint/restrict-template-expressions": "off"
  }
}
