.eslintcache

pokemon-showdown/
pokemon-showdown.sha
process-palette.json

node_modules/

converter.js

/databases/*
!/databases/.dummy

/discord/config.json
/discord/.twitchMonitor.js
/discord/twitchMonitor.js
/discord/commands/nsfw/*
!/discord/commands/nsfw/command.js.example
/discord/commands/joke/*
!/discord/commands/joke/command.js.example
/discord/rules/*
!/discord/rules/link-message.js
!/discord/rules/get-ps-battle-info.js
!/discord/rules/rule.js.example

/showdown/config.json
/showdown/commands/private/*
!/showdown/commands/private/command.js.example
