"use strict";

module.exports = {
	desc: "Description",
	longDesc: "You can really elaborate here!\nFeel free to use linebreaks too.",
	usage: "<argument>",
	aliases: ['alias', 'another alias'],
	adminOnly: false,
	options: [],
	elevated: false,
	disabled: false,
	hasCustomFormatting: false,
	isNSFW: true,
	async process(message, args) {
		// code goes here
		return message.channel.send("hello world!");
	},
};
