"use strict";

const utilities = require("../utilities.js");

module.exports = {
	servers: ["array", "of", "IDs"], // Rule will only be run in these servers
	channels: ["array", "of", "channels"], // Rule will only be run in these channels
	users: ["array", "of", "users"], // Rule will only be run on messages authored by one of the provided users
	async process(message) {
		if (Tools.toId(message.content).includes("chicken") && utilities.oneIn(10)) return message.channel.send("Did somebody say... CHICKEN!??!");
	},
};
